<div class="createArticle ui segment">
  <h1>記事投稿ページ</h1>
  <form v-on:submit.prevent="postArticle">
    <div class="ui grid">
      <div class="eight wide column">
        <h2>入力スペース</h2>
        <div>
          <input class="markdownTitle ui segment" v-model="title" placeholder="タイトルを入力してください">
        </div>
        <div class="ui hidden divider" />
        <div>
          <textarea class="markdown ui segment" v-model="body" placeholder="本文を書いてみよう" />
        </div>
      </div>
      <div class="eight wide column">
        <h2>プレビュー</h2>
        <div class="preview" v-html="preview()">
          <article>
            <h1>{{title}}</h1>
            <p>{{body}}</p>
           </article>
         </div>
      </div>
    </div>
    <button class="ui button green" type="submit">投稿する</button>
  </form>
</div>
