<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
       <img src="@/assets/login-logo.png" class="image">
      <div class="content">
        Log-in to your account
      </div>
    </h2>
    <form class="ui large form" v-on:submit.prevent="signIn">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="メールアドレスを入力してください" v-model="email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="パスワードを入力してください" v-model="password">
          </div>
        </div>
        <button class="ui button green fluid large teal" type="submit">Login</button>
      </div>
      <div class="ui error message"></div>
    </form>
    <div class="ui message">
      New to us?
      <router-link :to="{ path: `/signUp` }">Sign Up</router-link>
    </div>
  </div>
</div>
