<header>
  <!-- Following Menu -->
  <div class="ui large top fixed hidden menu">
    <div class="ui container">
      <router-link class="active item" to="/">Qiita-clone</router-link>
      <router-link class="item" to="/Articles">投稿記事一覧</router-link>
      <router-link class="item" to="/CreateArticle">投稿する</router-link>
      <div class="right menu">
        <div class="item">
          <a class="ui button">ログイン</a>
        </div>
        <div class="item">
          <router-link tag="a" class="ui primary button" to="/signUp">ユーザー登録</router-link>
        </div>
      </div>
    </div>
  </div>
</header>
